* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*----------NavBar----------*/

.navBar {
  padding: 10px;
}
.navBar-container {
  padding: 10px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}
.navBar-container img {
  width: 170px;
}

.navBar-links {
  margin: 0px auto;
}

.navBar-links ul {
  display: flex;
}

.navBar-links ul li {
  display: flex;
  list-style: none;
  margin: 0px 10px 0px 10px;
  padding: 20px;
}

.navBar-links ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s ease-in-out;
}

.navBar-links ul li hr :hover {
  width: 70px;

  background-color: aqua;
}

.navBar-button {
  margin: 0px 10px;
}

.navBar-button button {
  margin: 0px 10px 0px 10px;
  padding: 5px;
  color: black;
  border: 1px solid;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  background: transparent;
  transition: 1s ease;
}
.navBar-button button:hover {
  transform: scale(1.05);
}
.navBar-button button:active {
  transform: scale(0.9);
}

/*----------NAVBAR----------*/

/*----------FOOTER----------*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8f8f8f;
  padding: 10px;
  color: white;
}

.footer-container {
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.footer-contacts {
  max-width: 400px;
  padding: 10px;
}

.footer-contacts ul {
  padding: 10px;
}

.footer-contacts ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
}

.footer-contacts ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}

.footer-contacts ul li a:hover {
  color: blue;
}
.footer-information {
  max-width: 400px;
  padding: 10px;
}

.footer-information ul {
  padding: 10px;
}
.footer-information ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.footer-information ul li {
}
.footer-usefulLinks {
  padding: 10px;
  max-width: 400px;
}
.footer-usefulLinks ul {
  padding: 10px;
}
.footer-usefulLinks ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.footer-usefulLinks ul li a {
  text-decoration: none;
  color: white;
}
.footer-usefulLinks ul li a:hover {
  color: blue;
}

.footer-NewsLetter {
  padding: 10px;
  height: 100%;
}
.footer-NewsLetter p {
  padding: 10px;
}
.footer-newsLetter-buttons {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.footer-NewsLetter input {
  height: 100%;
  width: 80%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
}

.footer-NewsLetter button {
  width: 20%;
  height: 100%;
  background-color: black;
  color: white;
  font-weight: 400;
  border: none;
  transition: 0.2s all ease-in;
}
.footer-NewsLetter button:hover {
  transform: scale(1.02);
}

.footer-NewsLetter button:active {
  transform: scale(0.8);
}

.footer-copyrights {
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 25px;
  padding: 10px auto;
  margin: 10px auto;
  bottom: 0;
  left: 0;
}

/*----------FOOTER----------*/
